h1 {
    font-size: 2.2em;
    line-height: 1.1;
    margin-top: 0;
}


.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    label {
        font-size: 16px;
        margin-bottom: 6px;

        &.required:before {
            content: '*';
            padding-right: 2px;
            color: var(--warning--color);
        }
    }

    &__field {
        display: flex;
        justify-content: center;
        flex-direction: column;

        &__error {
            color: var(--warning--color);
            padding-top: 4px;
            font-size: 14px;

            &:first-letter {
                text-transform: capitalize;
            }
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 16px;
        margin-top: 16px;

        &__link {
            cursor: pointer;
            color: var(--primary-color);
        }
    }
}