h1 {
    font-size: 2.2em;
    line-height: 1.1;
    margin-top: 0;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;

    &__field {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 16px;
        margin-top: 16px;
    }
}